/*
* GENERAL STYLES
*/

body {
    font-family: Helvetica;
    background-color: rgba(0, 0, 0, .95);
    margin: 0 20px;
}

.hide {
    display: none !important;
}

.noscroll {
    overflow: hidden;
}

/*
* HEADER STYLES
*/

#header {
    height: 120px;
    color: #d86202;
    margin-top: 20px;
}

#title {
    font-family: 'Creepster', cursive;
    height: 40px;
    font-size: 40px;
    display: inline-block;
}

#search {
    display: inline-block;
    line-height: 40px;
    position: relative;
    float: right;
    margin-right: 5px;
}

#search input {
    line-height: 40px;
}

#subtitle {
    font-size: 18px;
    color: rgba(255, 255, 255, .85);
    display: inline-block;
    float: left;
    position: relative;
    clear: right;
}

#search-example {
    color: rgba(255, 255, 255, .85);
    display: inline-block;
    float: right;
    margin-top: 4px;
    font-style: italic;
}

/*
* THUMBNAILS STYLES
*/

#thumbnail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
}

.thumbnail {
    flex-grow: 1;
    flex-shrink: 1;
    -webkit-flex-grow: 1;
    width: 150px;
    max-width: 175px;
    min-width: 125px;
    margin: 4px;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

#lightbox-container {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .85);
}

/*
* LIGHTBOX STYLES
*/

#lightbox-container {
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.show-lightbox {
    display: flex;
    display: -webkit-flex;
}
/* lightbox header styles */

#lightbox-header {
    height: 80px;
    width: 100%;
}

#lightbox-close-button {
    position: absolute;
    height: 40px;
    width: 40px;
    padding: 20px;
}

#lightbox-close-button img {
    height: 100%;
}

#lightbox-image-title {
    max-width: 100%;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 100;
    color: rgba(255, 255, 255, .85);
    font-size: 20px;
    margin: 0 80px;
}

/* lightbox image content styles */

#lightbox-image-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-flex-grow: 1;
    -webkit-flex-shrink: 1;
    height: 100%;
    width: 100%;
}

#lightbox-image {
    height: 80%;
    width: 80%;
    display: block;
    margin: auto;
}

#lightbox-image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/* lightbox nav styles */

#lightbox-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 40px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
}

#lightbox-right-arrow {
    height: 40px;
    margin-right: 40px;
    flex-grow: 0;
    -webkit-flex-grow: 0;
}

#lightbox-left-arrow {
    height: 40px;
    margin-left: 40px;
    flex-grow: 0;
    -webkit-flex-grow: 0;
}

#nav-center {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    width: 100%;
}

#lightbox-nav img {
    height: 100%;
}

/*
* OTHER STYLES
*/

#loading-view {
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    height: 50%;
    opacity: .8;
}


@media screen and (max-width: 490px) {
    #search {
        float: left;
        width: 100%;
    }
    #search input {
        width: 100%;
    }
    #thumbnail-container {
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    #subtitle {
        width: 100%;
    }

    #search-example {
        float: left;

    }
}